<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-discount-link-heading"
        data-cy="DiscountLinkCreateUpdateHeading"
        jhiTranslate="jhtestApp.discountLink.home.createOrEditLabel"
      >
        Create or edit a Discount Link
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="jhtestApp.discountLink.id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_discountAmount" jhiTranslate="jhtestApp.discountLink.discountAmount">Discount Amount</label>
          <input
            type="number"
            class="form-control"
            name="discountAmount"
            id="field_discountAmount"
            data-cy="discountAmount"
            formControlName="discountAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_accountedPrice" jhiTranslate="jhtestApp.discountLink.accountedPrice">Accounted Price</label>
          <input
            type="number"
            class="form-control"
            name="accountedPrice"
            id="field_accountedPrice"
            data-cy="accountedPrice"
            formControlName="accountedPrice"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_date" jhiTranslate="jhtestApp.discountLink.date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_discountUsage" jhiTranslate="jhtestApp.discountLink.discountUsage">Discount Usage</label>
          <select
            class="form-control"
            id="field_discountUsage"
            data-cy="discountUsage"
            name="discountUsage"
            formControlName="discountUsage"
            [compareWith]="compareDiscountUsage"
          >
            <option [ngValue]="null"></option>
            @for (discountUsageOption of discountUsagesSharedCollection; track $index) {
              <option [ngValue]="discountUsageOption">{{ discountUsageOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_company" jhiTranslate="jhtestApp.discountLink.company">Company</label>
          <select
            class="form-control"
            id="field_company"
            data-cy="company"
            name="company"
            formControlName="company"
            [compareWith]="compareCompany"
          >
            <option [ngValue]="null"></option>
            @for (companyOption of companiesSharedCollection; track $index) {
              <option [ngValue]="companyOption">{{ companyOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
